* {
  box-sizing: border-box;
}
section {
  padding: 1.5rem 4%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #eee;
}
a {
  color: unset;
  text-decoration: none;
}
.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div {
  font-size: 45px;
  font-weight: 600;
}
/*nav bar responsive part end*/

/*nav bar code end*/

/* home  body*/

.container1 {
  width: 100%;
  height: 100vh;
  /*background: url(woman-5864279.jpg);*/
  /* background: url(model-12.mp4);*/
  background-position: center;
  background-size: cover;
  margin-bottom: 200px;
}

.back-video {
  position: absolute;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
.anim {
  opacity: 0;
  transform: translateY(100px);
  animation: movedown 0.5s linear forwards;
}

@keyframes movedown {
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.containt h1 pre {
  margin-left: 4rem;
  padding-top: 12rem;
  font-size: 120px;
  color: #eee;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-weight: bold;
}
.containt h1 pre span {
  /*color: rgb(9, 33, 6);*/
  color: white;
  transition: 0.5s;
}
.containt h1 span {
  color: white;
}

.containt h1 pre span:hover {
  -webkit-text-stroke: 2px rgb(120, 110, 110);
  color: transparent;
}

/*home body end*/

/*mens and womens parts start*/

.about .tbl table {
  width: 100%;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.tbl table tr td {
  padding: 2rem;
}
.tbl table tr td .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 0.1px solid rgb(5, 5, 5);
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.tbl table tr td .card img {
  width: 100%;
}
.tbl table tr td .catergory {
  padding: 2px 16px;
}
.tbl table tr td .card h4 {
  text-align: center;
  position: absolute;
  padding: 1rem;
  font-size: 20px;
}
.tbl table tr td .card h6 {
  text-align: center;
  position: absolute;
  margin-top: 2rem;
  font-size: 15px;
  font-family: monospace;
  padding: 1rem;
  color: burlywood;
  font-style: italic;
}
.tbl table tr td .card:hover {
  transform: translateY(-50px);
  cursor: pointer;
}
.icons button {
  color: #fff;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*mens and womwens parts ends*/

/*product overviwe part */
.container {
  width: 1000px;
  max-width: 100vw;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}
.title {
  font-size: xx-large;
  padding: 20px 0;
}
.listProduct .item img {
  width: 90%;
  /*filter: drop-shadow(0 50px 20px #0009);*/
}
.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProduct .item {
  background-color: #fff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid black;
}
.listProduct .item h2 {
  font-size: large;
  font-weight: 500;
}
.listProduct .item .price {
  letter-spacing: 7px;
  font-size: small;
}

/*details page*/
.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  text-align: left;
}
.details .image img {
  width: 100%;
}
.details .image {
  position: relative;
}
.details .image::before {
  position: absolute;
  width: 300px;
  height: 300px;
  content: "";
  background-color: #94817733;
  z-index: -1;
  border-radius: 190px 100px 170px 180px;
  left: calc(-50% -150px);
  top: 50px;
}
.details .name {
  font-size: xx-large;
  padding: 40px 0 0 0;
  margin: 0 0 10px 0;
}
.details .price {
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 7px;
  margin-bottom: 20px;
}
.details .buttons {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.details .buttons button {
  background-color: #eee;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 20px;
  font-family: popins;
  font-size: large;
  cursor: pointer;
}
.details .buttons svg {
  width: 15px;
}
.details .buttons span {
  background-color: #555454;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 20px;
  color: #eee;
}
.details .buttons button:nth-child(2) {
  background-color: #2f2f2f;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px #2f2f2f77;
}
.details .description {
  font-weight: 300;
}

@media screen and (max-width: 992px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
  .details {
    grid-template-columns: 40% 1fr;
  }
}
@media screen and (max-width: 768px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
  .details {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .details .img img {
    width: unset;
    height: 40vh;
  }
  .details .name {
    font-feature-settings: x-large;
    margin: 0;
  }
  .details .buttons button {
    font-size: small;
  }
  .details .buttons {
    justify-content: center;
  }
  .details .buttons svg {
    width: 10px;
  }
}
/*product overviwe part end */

/*old responsive parts starts heare*/

@media (max-width: 700px) {
  .home .containt h1 pre {
    font-size: 5rem;
    color: rgb(247, 244, 239);
    margin-top: 6rem;
  }
  .home .containt h3 pre {
    font-size: 4rem;
    color: #eee;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }

  section {
    padding: 1.5rem;
  }
  .tbl table tr td .card {
    align-items: center;
    justify-content: center;
  }
  .tbl table tr td {
    display: flex;
    flex-wrap: wrap;
  }
  .tbl table tr td .card img {
    width: 100%;
  }
  .tbl table tr td .card h6 {
    padding-top: 2rem;
    color: rgb(248, 202, 202);
  }
  .tbl-2 table tr td .product-card {
    align-items: center;
    justify-content: center;
  }
  .tbl-2 table tr td {
    display: flex;
    flex-wrap: wrap;
  }
  .tbl-2 table tr td .product-card img {
    width: 100%;
  }

  .tbl-3 table tr td {
    display: flex;
    flex-wrap: wrap;
  }

  .tbl-3 table tr td img {
    width: 100%;
  }
  section .footer {
    padding: 50px 5% 40px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 2.5rem;
    margin: 1rem;
  }
  .back-video {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  section {
    padding: 1.5rem;
  }
  .home .containt h1 pre {
    font-size: 4rem;
    padding-left: 5rem;
  }
}

/*old responsive parts ends heare*/
