body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.header {
  padding: 80px;
  text-align: center;
  background: white;
  color: black(7, 7, 7);
}

.header h1 {
  font-size: 60px;
}

.mid {
  background-image: url(image/image4.jpg);
  width: 100%;
  height: 835px;
  background-repeat: no-repeat;
  background-size: cover;
}
.leftBox {
  float: left;
  width: 45%;
  padding: 50px;
  box-sizing: border-box;
}
.content {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  transition: 0.5s;
}
.content:hover {
  background: #060606;
}

.content h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-transform: uppercase;
}

.leftBox .content p {
  margin: 10px 0 0;
  padding: 0;
}

.events {
  float: right;
  width: 50%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  float: right;
  box-sizing: border-box;
  margin-top: 49px;
}

.events ul {
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
}

.events ul li {
  list-style: none;
  background: #fff;
  box-sizing: border-box;
  height: 200px;
  margin: 15px 0;
}

.time {
  position: relative;
  padding: 50px;
  background: #262626;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  transition: 0.5s;
}

.events ul li:hover .time {
  background: #f6f4f4;
}

.time h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #060505;
  font-size: 60px;
  line-height: 30px;
}

.time h2 span {
  font-size: 30px;
}

.details {
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  float: left;
}

.details h3 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 28px;
}

.details p {
  position: relative;
  margin: 10px 0 0;
  padding: 0;
  font-size: 20px;
}

.details a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border: 1.5px solid #262626;
  margin-top: 8px;
  font-size: 18px;
  transition: 0.5s;
}

.details a:hover {
  background: #060606;
  color: #fff;
  border-color: #0b0a0b;
}

.maincontent {
  background: #000;
  padding: 40px;
  /* height: 545px; */
  width: 100%;
  outline: 1px solid red;
}

.maincontent-img {
  width: 100%;
  outline: 1px solid red;
}

.maincontent-tex {
  width: 100%;
}

.maincontent-tex h3 {
  font-size: 150px;
  text-align: center;
  margin: 100px 0px 100px 0px;
  line-height: 0px;
  color: #fff;

  /* font-family: "DINCondensed"; */
}
.maincontent-tex h4 {
  text-align: center;
  font-size: 35px;
  margin-left: 20px;
  color: #fff;
  font-family: "DINCondensed";
  /* line-height: 26px; */
  text-transform: uppercase;

  /* padding-left: 90px; */
  padding-right: 20px;
}

.maincontent-tex h5 {
  text-align: center;
  font-size: 25px;
  /* margin-left: 25px; */
  color: #fff;
}

.maincontent-tex p {
  padding-top: 8px;
  /* padding-left: 90px; */
  padding-right: 30px;

  color: #ccc;
}
/*  */

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 140px;
  padding: 16px 32px;
  border-radius: 80px;
  font-family: "CenturyGothic", "CenturyGothic-fallback", Arial, sans-serif;
  font-size: 13px;
  -webkit-transition: background-color ease-in 120ms, color ease-in 120ms,
    border-color ease-in 120ms, font-weight ease-in 120ms;
  transition: background-color ease-in 120ms, color ease-in 120ms,
    border-color ease-in 120ms, font-weight ease-in 120ms;
  text-align: center;
}
.button--underline {
  color: #000;
  border: none;
  border-bottom: 1px solid;
  border-color: inherit;
  background: none;
  padding: 0 0 2px;
  border-radius: 0;
  min-width: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background-repeat: no-repeat;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  color: #000;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(currentColor),
    to(currentColor)
  );
  background-image: linear-gradient(to right, currentColor, currentColor);
  background-position: 0% 100%;
  background-size: 0% 1px;
  -webkit-animation-duration: 0.42s;
  animation-duration: 0.42s;
}

.culture-events-main h1 {
  /* font-family: "DINCondensed"; */

  line-height: clamp(2rem, 8cqi, 28rem);
  font-weight: bolder;
  color: #000;
  overflow: hidden;
  font-size: 30px;
  text-align: center;
}
.culture-events-text p {
  color: #717171;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  display: flex;
  margin-left: 290px;
  font-size: 30px;
}
/* 
.main {
  width: 100%;
  box-sizing: border-box;
} */

.container .containerh1 {
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
}
.container .containerp1 {
  text-align: center;
  color: #000;
  font-size: 14px;
  max-width: 1200px;
  margin-top: 1rem;
}
.img_con {
  overflow: hidden;
}
@media (min-width: 600px) {
  .leftBox,
  .events,
  /* .maincontent-img, */
  /* .maincontent-tex, */
  .exceptional-text,
  .exceptional-slid {
    width: 48%; /* Side by side layout on larger screens */
  }

  .maincontent-img,
  .maincontent-tex {
    /* float: left;      Float elements */
    text-align: center;
  }

  .exceptional-text {
    /* float: left; */
    text-align: center;
    margin-left: 15rem;
  }
  .exceptional-text h1 {
    margin-bottom: 5rem;
  }

  .exceptional-slid {
    /* float: right; */
    text-align: center;
  }

  .exceptional-slid img {
    /* margin-right: 8rem; */
    width: 100%;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 80px;
  }

  .header h1 {
    font-size: 30px;
  }

  .content {
    padding: 40px;
  }

  .content h1 {
    font-size: 50px;
  }

  .details h3 {
    font-size: 18px;
  }

  .details p {
    font-size: 7px;
    color: black;
    font-weight: 900;
  }

  .details a {
    font-size: 12px;
    align-items: center;
    justify-content: center;
    display: flex;

    margin-bottom: 1rem;
  }

  /* .maincontent-tex h3 {
    font-size: 80px;
    margin-left: 1rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  .maincontent-tex h4,
  .maincontent-tex h5 {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
  } */

  .exceptional {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .exceptional img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 3rem;
  }

  .exceptional h1,
  .exceptional h3 {
    margin-left: 9rem;
    margin-bottom: 4rem;
  }
  .exceptional p {
    margin-left: 1rem;
  }

  .exceptional h1 {
    font-size: 40px;
    line-height: 1.2;
    /* margin-bottom: 3rem; */
  }

  .exceptional h3 {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 3rem;
  }
  .culture-events-text p {
    text-align: center;
    margin-right: 10rem;
    font-size: 13px;
  }
  culture-events-main h1 {
    margin-top: 3rem;
  }
  culture-events-text p {
    margin-right: 1rem;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
}

.new-creations {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.new-creations h1 {
  font-size: 60px;
  margin-bottom: 40px;
}

.product {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 150px;
  border-radius: 10px;
  margin-right: 20px;
}

.product-info {
  text-align: left;
}

.product-info h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

.product-info p {
  font-size: 16px;
  margin: 0 0 20px;
}

.discover-btn {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid #000;
}

.discover-btn:hover {
  color: #555;
  border-bottom: 2px solid #555;
}

/* Responsive Design */
@media (max-width: 768px) {
  .product {
    flex-direction: column;
    align-items: flex-start;
  }

  .product img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .product-info {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .new-creations h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .product-info h2 {
    font-size: 20px;
  }

  .product-info p {
    font-size: 14px;
  }
}
