@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
    

.wrapper{

    max-width: 75%;
    margin: auto;
}

.wrapper > h1 {
    margin: 6.5rem 0 1.5rem 0;
    text-align: center;
    
    
}
.wrapper > p {
   text-align: justify;
   margin: 1.5rem 0;
   line-height: 20px;
}

.accordion{
    width: 100%;
    background-color: whitesmoke;
    color: rgb(0,0,0 0.8);
    text-align: left;
    font-size: 1rem;
    padding: 10px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.4ms;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-weight: bold;
}


  
  .active,
  .accordion:hover {
    background-color: #f1f7f5;
  }
  .pannel {
    padding: 0 2rem 3rem 1rem;
    text-align: justify;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
  }
  .pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: smaller;
    line-height: 1.4;
    
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0 ;
    
  }
  .faq.active {
    border: none;
  }
  